.content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-first {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.content-1 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.content-1-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icon {
    display: flex;
    gap: 10px;
}
.between{
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa {
    transform: scale(1.5);
}

.content-1-right {
    position: relative;
    left: 80px;
    display: flex;
    gap: 40px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dots-2-mark {
    position: relative;
    left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.time {
    color: rgb(35, 152, 230);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.content-2-top {
    display: flex;
    gap: 20px;
}

.introduce-1 {
    width: 200px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-4 {
    width: 30px;
    height: 30px;
}

.chu {
    font-size: 12px;
    color: rgb(206, 206, 206);
}

.introduce-1-right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-2-bottom {
    display: flex;
    gap: 10px;
}

.introduce-2 {
    width: 250px;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content-second {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.second-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.work {
    width: 50px;
    height: 25px;
    background-color: rgb(198, 244, 229);
    color: rgb(41, 240, 240);
    font-size: 14px;
    font-weight: 700;
}

.ul {
    position: relative;
    top: 30px;
    left: 10px;
    display: flex;
    gap: 50px;
}
.li-item {
    display: flex;
    flex-direction: column;
}
.gach {
    width: 40px;
    height: 2px;
    background-color: aqua;
    position: relative;
    top: 20px;
    left: -10px;
}
.table {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.table-rrow {
    display: flex;
    gap: 20px;
}

.introduce-3 {
    width: 300px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.khung {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.khoi {
    display: flex;
    gap: 10px;
}

.writing {
    width: 80px;
    height: 25px;
    background-color: rgb(185, 207, 239);
    color: blue;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}